[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec=postman
Icon=/home/adria/software/Postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
